<div class="login-container">
  <div class="login-card">
    <h2>Employee Login</h2>

    <form (ngSubmit)="login()">
      
      <!-- Employee Name -->
      <div class="form-group">
        <label>Employee Name</label>
        <input type="text" class="form-control"
               [(ngModel)]="loginData.name"
               name="name"
               (input)="onlyLetters($event)">
               
        <small class="error" *ngIf="submitted && !loginData.name">
          Employee name is required
        </small>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control"
               [(ngModel)]="loginData.password"
               name="password"
               (input)="noSpaces($event)">
               
        <small class="error" *ngIf="submitted && loginData.password.length < 6">
          Password must be at least 6 characters
        </small>
      </div>

      <button class="btn btn-primary btn-block">Login</button>
    </form>

    <p class="note">
  This login is only for employees.
  <a routerLink="/job-apply" class="apply-link">
    Apply for vacancies
  </a>
</p>
  </div>
</div>
