/* General */
body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Carousel */
  .carousel-item {
    height: 90vh;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-caption {
    background: rgba(0,0,0,0.5);
  }
  
  /* Feature boxes */
  .feature-item {
    height: 150px;
    background: #ffffff;
  }
  
  /* Sections spacing */
  #about, #services, #team, #contact {
    scroll-margin-top: 100px;
  }
  
  /* Cards */
  .card img {
    height: 200px;
    object-fit: cover;
  }
  